:root {
--text-color-light: #555A5C;
--template-border-color: #33373D;
--font-size: 15px;
--text-color: #afb5b8;
--text-color-strong: #C2C2C2;
--font-family: 'Noto Sans', sans-serif;
--header-height: 60px;
--header-logo-background: #262B2E;
--header-background-color: #262B2E;
--menu-width: ;
--menu-background-color: ;
--menu-master-color-strong: ;
--menu-check-color: ;
--submenu-background-color: ;
--main-color: #E91E63;
--live-background-color: #262B2E;
--button-height: 35px;
--button-text-color: #afb5b8;
--button-background: #33373D;
--button-border-radius: 32px;
--button-padding: 13px;
--field-height: 35px;
--field-border-top: 1px;
--field-border-bottom: 1px;
--field-border-right: 1px;
--field-border-left: 1px;
--field-border-radius: 24px;
--field-background: #33373D;
--field-border-color: #33373D;
--field-color: #afb5b8;
--field-focus-border-color: #464b52;
--field-placeholder-color: #60656e;
--content-border-radius: 10px;
--content-background: #262B2E;
--content-border-color: #33373D;
--panel-background: #00000000;
--panel-border-radius: 8px;
--modal-background: #262B2E;
--submenu-sub-text-color: ;
--scrollbar-color: #4e5558;
--color-overlay: #0000004d;
--preloader-color: #E91E63;
--live-area-width: 100%;
--header-border-bottom: #33373D;
--header-logo-font-size: 22px;
--header-logo-border-right: #33373D;
--header-logo-border-bottom: #33373D;
--header-track-border-right: #33373D;
--header-box-display: none;
--header-box-background: #E91E63;
--panel-header-background: #00000000;
--panel-body-padding: 15px;
--panel-border-color: #33373D;
--button-border: #33373D;
--button-text-color-hover: #E91E63;
--menu-border-right: ;
--menu-icon-font-size: ;
--menu-background-check: ;
--menu-button-border-color: ;
--submenu-border-right: ;
--submenu-text-color: ;
--submenu-text-hover: ;
--submenu-background-check: ;
--submenu-check-color: ;
--top-menu-border: ;
--top-menu-background-color: ;
--top-menu-background-check: ;
--top-menu-check-color: ;
--top-menu-hover-color: ;
--top-menu-color: ;
--top-submenu-background-color: ;
--top-submenu-text-color: ;
--top-submenu-text-hover: ;
--top-submenu-background-check: ;
--top-submenu-check-color: ;
--field-padding-horizontal: 8px;
--field-padding-vertical: 0px;
--login-background-color: ;
--login-panel-header-background: ;
--login-panel-left-background-color: ;
--login-panel-right-background-color: ;
--login-button-background: ;
--login-button-text-color: ;
--login-panel-left-text-header-color: ;
--login-panel-left-text-header-align: ;
--login-panel-left-text-header-font-size: ;
--login-panel-left-text-header-font-weight: ;
--login-panel-left-text-footer-color: ;
--login-panel-left-text-footer-align: ;
--login-panel-left-text-footer-font-size: ;
--login-panel-left-text-footer-font-weight: ;
--login-panel-detail-display: ;
--login-link-color: ;
--login-html: ;
--login-panel-detail-display-image: ;
--login-panel-detail-display-details: ;
--login-panel-detail-image-size: ;
--login-panel-detail-image-position: ;
--login-panel-detail-direction: ;
--login-panel-max-width: ;
--login-panel-detail-force-full-image: ;
--login-panel-border-radius: ;
--login-panel-box-shadow: ;
--login-title-font-size: ;
--login-title-align: ;
--login-title-font-weight: ;
--login-title-color: ;
--login-header-font-size: ;
--login-header-align: ;
--login-header-color: ;
--login-border-color: ;
--tr-hover-background: #33373D;
--tr-hover-color: #ffffff;
--panel-padding: 0px;
--tr-even-background: #33373D;
--tr-odd-background: #262B2E;
--table-body-color: #afb5b8;
--table-header-color: #516283;
--modal-footer-background: #DFE4ED;
--modal-header-background: #E91E63;
--modal-header-color: #fff;
--button-box-shadow: none;
--panel-box-shadow: none;
--panel-header-color: #516283;
--panel-footer-background: transparent;
--header-text-color: #8694B0;
--header-box-shadow: none;
--menu-box-shadow: ;
--menu-user-splash-background: ;
--panel-header-font-size: 17px;
--panel-header-font-weight: 600px;
--panel-header-padding-vertical: 10px;
--panel-header-padding-horizontal: 10px;
--panel-header-border-color: transparent;
--header-logo-text-color: #8694B0;
--menu-background-button-circle: ;
--menu-color-button-circle: ;
--top-menu-background-button-circle: #33373D;
--top-menu-color-button-circle: #afb5b8;
--submenu-font-size: ;
--submenu-padding-horizontal: ;
--submenu-item-padding-horizontal: ;
--submenu-item-padding-vertical: ;
--modules-button-radius: 100px;
--header-box-padding-horizontal: ;
--header-box-padding-vertical: ;
--header-logo-padding-horizontal: ;
--header-logo-padding-vertical: ;
--login-panel-left-header-image-position: ;
--login-text-center-align: ;
--login-text-center-size: ;
--login-text-center-weight: ;
--login-text-center-color: ;
--show-text-center: ;
}