:root {
--text-color-light: #ADB8CC;
--font-size: 15px;
--text-color: #616776;
--text-color-strong: #516283;
--font-family: 'Noto Sans', sans-serif;
--header-height: 50px;
--header-logo-background: #33373D;
--header-background-color: #33373D;
--menu-width: 260px;
--menu-background-color: #33373D;
--menu-master-color-strong: #FFFFFF;
--menu-check-color: #FFFFFF;
--submenu-background-color: #33373D;
--main-color: #FD03BE;
--live-background-color: #FFFFFF;
--button-height: 30px;
--button-text-color: #DFE4ED;
--button-background: #FD03BE;
--button-border-radius: 3px;
--button-padding: 13px;
--field-height: 35px;
--field-border-top: 1px;
--field-border-bottom: 1px;
--field-border-right: 1px;
--field-border-left: 1px;
--field-border-radius: 3px;
--field-background: #fff;
--field-border-color: #DFE4ED;
--field-color: #516283;
--field-focus-border-color: #bcc2d1;
--field-placeholder-color: #DFE4ED;
--content-border-radius: 3px;
--content-background: #FFFFFF;
--content-border-color: #FFFFFF;
--panel-background: #FFFFFF;
--panel-border-radius: 3px;
--modal-background: #FFFFFF;
--submenu-sub-text-color: #9E9E9E;
--scrollbar-color: #FD03BE;
--color-overlay: #0000004d;
--preloader-color: #FD03BE;
--live-area-width: 100%;
--header-border-bottom: #33373D;
--header-logo-font-size: 21px;
--header-logo-border-right: #33373D;
--header-logo-border-bottom: #33373D;
--header-track-border-right: #33373D;
--header-box-display: none;
--header-box-background: #FD03BE;
--panel-header-background: #FD03BE;
--panel-body-padding: 15px;
--panel-border-color: #DFE4ED;
--button-text-color-hover: #FFFFFF;
--menu-border-right: #33373D;
--menu-icon-font-size: 10px;
--menu-background-check: #FD03BE;
--submenu-border-right: #33373D;
--submenu-text-color: #9E9E9E;
--submenu-text-hover: #FD03BE;
--submenu-background-check: #FD03BE;
--submenu-check-color: #FFFFFF;
--top-menu-border: #FFFFFF;
--top-menu-background-color: #33373D;
--top-menu-background-check: #FD03BE;
--top-menu-check-color: #FFFFFF;
--top-menu-hover-color: #FD03BE;
--top-menu-color: #FFFFFF;
--top-submenu-background-color: #33373D;
--top-submenu-text-color: #B7C1D5;
--top-submenu-text-hover: #FD03BE;
--top-submenu-background-check: #FD03BE;
--top-submenu-check-color: #FFFFFF;
--field-padding-horizontal: 2px;
--tr-hover-background: #eceff4;
--tr-hover-color: #8694B0;
--tr-even-background: #fff;
--tr-odd-background: #f8f9fb;
--table-body-color: #8694B0;
--table-header-color: #516283;
--modal-footer-background: #FFFFFF;
--modal-header-background: #FD03BE;
--modal-header-color: #fff;
--button-box-shadow: none;
--panel-box-shadow: none;
--panel-header-color: #FFFFFF;
--panel-footer-background: transparent;
--header-text-color: #9E9E9E;
--header-box-shadow: none;
--menu-box-shadow: none;
--menu-user-splash-background: #33373D;
--panel-header-font-size: 17px;
--panel-header-font-weight: 600px;
--panel-header-padding-vertical: 7px;
--panel-header-padding-horizontal: 7px;
--panel-header-border-color: transparent;
--header-logo-text-color: #FFFFFF;
--menu-background-button-circle: #FFFFFF;
--menu-color-button-circle: #33373D;
--top-menu-background-button-circle: #FFFFFF;
--top-menu-color-button-circle: #33373D;
--submenu-font-size: 12px;
--submenu-padding-horizontal: 1px;
--submenu-item-padding-horizontal: 8px;
--submenu-item-padding-vertical: 1px;
--modules-button-radius: 100px;
--header-box-padding-horizontal: 1px;
--header-box-padding-vertical: 1px;
--header-logo-padding-horizontal: 1px;
--name: fashion dark 2;
--login-background-color: #2E2E2E;
--login-panel-header-background: #FD03BE;
--login-panel-left-background-color: #33373D;
--login-panel-right-background-color: #33373D;
--login-button-background: #33373D;
--login-button-text-color: #FFFFFF;
--login-panel-left-text-header-color: #9E9E9E;
--login-panel-left-text-header-align: right;
--login-panel-left-text-header-font-size: 40px;
--login-panel-left-text-header-font-weight: 700px;
--login-panel-left-text-footer-color: #9E9E9E;
--login-panel-left-text-footer-align: left;
--login-panel-left-text-footer-font-size: 28px;
--login-panel-left-text-footer-font-weight: 700px;
--login-panel-detail-display: flex;
--login-link-color: #FFFFFF;
--login-html: ;
--login-panel-detail-display-image: flex;
--login-panel-detail-display-details: flex;
--login-panel-detail-image-size: contain;
--login-panel-detail-image-position: center;
--login-panel-detail-direction: row;
--login-panel-max-width: 1200px;
--login-panel-detail-force-full-image: ;
--login-panel-border-radius: 3px;
--login-panel-box-shadow:  0px 0px 10px 4px #0000004d;
--login-title-font-size: 40px;
--login-title-align: center;
--login-title-font-weight: 700px;
--login-title-color: #33373D;
--login-header-font-size: 16px;
--login-header-align: left;
--login-header-color: #FFFFFF;
--login-border-color: #FFFFFF;
--login-panel-left-header-image-position: center;
--login-text-center-align: center;
--login-text-center-size: 18px;
--login-text-center-weight: 600px;
--login-text-center-color: #FFFFFF;
--show-text-center: ;
--template-border-color: #DFE4ED;
--button-border: #DFE4ED;
--menu-button-border-color: #fff;
--field-padding-vertical: 0px;
--panel-padding: 0px;
--header-logo-padding-vertical: 0px;
}