:root {
--text-color-light: #555A5C;
--template-border-color: #33373D;
--font-size: 15px;
--text-color: #afb5b8;
--text-color-strong: #C2C2C2;
--font-family: 'Noto Sans', sans-serif;
--header-height: 60px;
--header-logo-background: #262B2E;
--header-background-color: #262B2E;
--menu-width: 280px;
--menu-background-color: #262B2E;
--menu-master-color-strong: #C2C2C2;
--menu-check-color: #FFFFFF;
--submenu-background-color: #262B2E;
--main-color: #F101A1;
--live-background-color: #262B2E;
--button-height: 35px;
--button-text-color: #afb5b8;
--button-background: #33373D;
--button-border-radius: 32px;
--button-padding: 13px;
--field-height: 35px;
--field-border-top: 1px;
--field-border-bottom: 1px;
--field-border-right: 1px;
--field-border-left: 1px;
--field-border-radius: 24px;
--field-background: #33373D;
--field-border-color: #33373D00;
--field-color: #afb5b8;
--field-focus-border-color: #464b52;
--field-placeholder-color: #60656e;
--content-border-radius: 7px;
--content-background: #262B2E;
--content-border-color: #33373D00;
--panel-background: #00000000;
--panel-border-radius: 8px;
--modal-background: #262B2E;
--submenu-sub-text-color: #555A5C;
--scrollbar-color: #F101A1;
--color-overlay: #0000004d;
--preloader-color: #F101A1;
--live-area-width: 100%;
--header-border-bottom: #33373D00;
--header-logo-font-size: 22px;
--header-logo-border-right: #33373D00;
--header-logo-border-bottom: #33373D00;
--header-track-border-right: #33373D03;
--header-box-display: none;
--header-box-background: #F101A1;
--panel-header-background: #F101A1;
--panel-body-padding: 15px;
--panel-border-color: #33373D;
--button-border: #33373D;
--button-text-color-hover: #F101A1;
--menu-border-right: #33373D;
--menu-icon-font-size: 15px;
--menu-background-check: #F101A1;
--menu-button-border-color: #33373D00;
--submenu-border-right: #33373D00;
--submenu-text-color: #C2C2C2;
--submenu-text-hover: #F101A1;
--submenu-background-check: #F101A1;
--submenu-check-color: #fff;
--top-menu-border: #33373D00;
--top-menu-background-color: #262B2E;
--top-menu-background-check: #F101A1;
--top-menu-check-color: #fff;
--top-menu-hover-color: #F101A1;
--top-menu-color: #afb5b8;
--top-submenu-background-color: #262B2E;
--top-submenu-text-color: #afb5b8;
--top-submenu-text-hover: #F101A1;
--top-submenu-background-check: #F101A1;
--top-submenu-check-color: #fff;
--field-padding-horizontal: 8px;
--tr-hover-background: #33373D;
--tr-hover-color: #ffffff;
--tr-even-background: #33373D;
--tr-odd-background: #262B2E;
--table-body-color: #afb5b8;
--table-header-color: #516283;
--modal-footer-background: #33373D;
--modal-header-background: #F101A1;
--modal-header-color: #fff;
--button-box-shadow: nonepx 0px 0px 0px #E91E63;
--panel-box-shadow: none;
--panel-header-color: #FFFFFF;
--panel-footer-background: transparent;
--header-text-color: #8694B0;
--header-box-shadow: none;
--menu-box-shadow: none;
--menu-user-splash-background: #262B2E;
--panel-header-font-size: 17px;
--panel-header-font-weight: 600px;
--panel-header-padding-vertical: 10px;
--panel-header-padding-horizontal: 10px;
--panel-header-border-color: #00000000;
--header-logo-text-color: #8694B0;
--menu-background-button-circle: #33373D;
--menu-color-button-circle: #afb5b8;
--top-menu-background-button-circle: #33373D;
--top-menu-color-button-circle: #afb5b8;
--submenu-font-size: 15px;
--submenu-padding-horizontal: 10px;
--submenu-item-padding-horizontal: 12px;
--submenu-item-padding-vertical: 12px;
--modules-button-radius: 100px;
--name: FASHION DARK THEME;
--field-padding-vertical: 0px;
--panel-padding: 0px;
--header-box-padding-horizontal: 0px;
--header-box-padding-vertical: 0px;
--header-logo-padding-horizontal: 0px;
--header-logo-padding-vertical: 0px;
--login-background-color: #262B2E;
--login-panel-header-background: #00000000;
--login-panel-left-background-color: #33373D;
--login-panel-right-background-color: #262B2E;
--login-button-background: #F101A1;
--login-button-text-color: #FFFFFF;
--login-panel-left-text-header-color: #afb5b8;
--login-panel-left-text-header-align: ;
--login-panel-left-text-header-font-size: 40px;
--login-panel-left-text-header-font-weight: 700px;
--login-panel-left-text-footer-color:  #afb5b8;
--login-panel-left-text-footer-align: left;
--login-panel-left-text-footer-font-size: 30px;
--login-panel-left-text-footer-font-weight: 700px;
--login-panel-detail-display: flex;
--login-link-color: #afb5b8;
--login-html: ;
--login-panel-detail-display-image: flex;
--login-panel-detail-display-details: flex;
--login-panel-detail-image-size: contain;
--login-panel-detail-image-position: center;
--login-panel-detail-direction: row;
--login-panel-max-width: 1250px;
--login-panel-detail-force-full-image: ;
--login-panel-border-radius: 10px;
--login-panel-box-shadow:  0px 0px 10px 4px #0000004d;
--login-title-font-size: 40px;
--login-title-align: center;
--login-title-font-weight: 700px;
--login-title-color: #afb5b8;
--login-header-font-size: 14px;
--login-header-align: left;
--login-header-color: #afb5b8;
--login-border-color: #33373D;
--login-panel-left-header-image-position: center;
--login-text-center-align: center;
--login-text-center-size: 18px;
--login-text-center-weight: 600px;
--login-text-center-color: #afb5b8;
--show-text-center: ;
}